<header>
  <img
    src="assets/img/pedro.jpg"
    alt="Pedro Tostes - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"/>

    <h1>Pedro Tostes</h1>
</header>

<aside>
    <div class="container">
      <p>Full Stack Javascript | Angular | NodeJS | Python</p>
      <p>São Paulo, São Paulo, Brasil</p>
      <p>
        Sou desenvolvedor front-end pleno com experiência sólida em Angular. Tenho vivência em desenvolvimento de temas, interfaces e soluções personalizadas para grandes clientes, sempre focando em performance, responsividade e experiência do usuário.<br><br>
        Além disso, estou cursando Inteligência Artificial e me aprofundando em machine learning e deep learning, ampliando minha atuação para projetos que envolvem análise de dados, automação e soluções inteligentes com Python.<br><br>
        Busco unir tecnologia, criatividade e inovação para entregar resultados de alto impacto e valor para empresas e pessoas.
      </p>
    </div>

    <nav>
      <ul>
        <li>
          <a
            href="assets/curriculo.pdf"
            target="_blank"
            class="btn btn-primary">
            Curriculo
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/pedro-lucas-458917207/"
            target="_blank"
            class="btn btn-secondary">
            Linkedin
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato do whatsapp"
          width="22px"
          height="24px">

          <figcaption>
            <a
            href="https://api.whatsapp.com/send?phone=5511993922787"
            target="_blank">
              <strong>Envie uma Mensagem para:</strong>
              <p>Whatsapp: (11) 9 9392-2787</p>
            </a>
          </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato do e-mail"
          width="22px"
          height="24px">

          <figcaption>
            <a
            href="mailto:pedro.tostessilva1@gmail.com"
            target="_blank">
              <strong>Envie um e-mail para:</strong>
              <p>pedro.tostessilva1&#64;gmail.com</p>
            </a>
          </figcaption>
      </figure>
    </section>
</aside>
